amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.25
certifi==2019.11.28
chardet==3.0.4
Django==2.0.13
django-appconf==1.0.3
django-axes==1.7.0
django-celery==3.2.2
django-compressor==2.2
django-jsonfield==1.4.0
django-reversion==3.0.1
django-revision==0.1.20
djangorestframework==3.10.2
django-statici18n==1.8.2
ffs==0.0.8.2
gitdb==4.0.2
GitPython==3.1.0
idna==2.8
Jinja2==2.10.1
kombu==3.0.37
letter==0.5
lxml==4.5.0
MarkupSafe==1.1.1
opal==0.18.4
python-dateutil==2.8.0
pytz==2019.3
rcssmin==1.0.6
requests==2.22.0
rjsmin==1.0.12
six==1.14.0
smmap==3.0.1
urllib3==1.25.8
wincertstore==0.2

# required for heroku
dj-database-url==0.2.1
psycopg2==2.8.5
gunicorn==0.17.4

# Not currently used but for potential LDAP support
django-auth-ldap==1.6.1
