
$black: rgb(26, 26, 26);
$white: white;
$grey : rgb(77, 77, 77);
$red  : rgb(255, 51, 9);
$red2 : rgb(255, 101, 9);
$janssen-blue : rgb(0,37,98);
$janssen-blue-light : rgb(7,148,224);

.entry-tool{
    .panel-heading i.edit,
    .list-group-item i.edit,
    .list-group-item i.delete{
        display:block
    }
    .edit a i {
        color: $black;
    }
    a.disabled{
        opacity: 0.5;
    }

    a.disabled:hover{
        color: inherit;
    }

    .follow-up-table{
        text-align: center;
        .column{
            border-top: 1px solid #dee2e6;
        }
        .column, .first-column, .header{
            padding: 8px;
        }
    }
}


// utility

.padding0 {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.pt6 {
    padding-top: 6px;
}

.mb6 {
    margin-bottom: 6px;
}

// Opal Resets

body {
  background: $white;
  color: $grey;
}

h1, h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    // font-family: 'Times New Roman', serif;
    color: $black;
}

h1 small {
    color: $black;
}

h3 {
    font-size: 18px;
}

h3 i.edit {
    font-size: 22px;
}

h1 img {
    padding-bottom: 4px;
}

.loading {
    background-color: $white;
}

.container {
  width: 100%;
}

.navbar-brand {
    text-transform: uppercase;
    font-size: 2.5rem;
}

.navbar-default .navbar-nav > li > a {
  color: $black;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover{
    background-color: $janssen-blue-light;
    color: white;
}

.navbar-nav li:hover,
.navbar-nav li:hover a,
.navbar-nav li.active a,
.navbar-nav li.active{
	background: $janssen-blue-light;
    color: white;
}

.pagination > .active > a{
    background-color: $janssen-blue-light;
    border-color: $janssen-blue-light;
}

.ngProgressLiteBar {
    background-color:$janssen-blue-light;
    box-shadow: 0 0 10px 0; /* Inherits the font color */
    top: 50px;
  }


.navbar-default .navbar-brand {
    color: $black;
}

.panel {
  border: none;
  box-shadow: none;
}

.panel.panel-primary .panel-heading {
    text-transform: uppercase;
    color: $black;
    background: inherit;
    border-color: $janssen-blue;
    border-bottom-width: 2px;
}

.panel-footer{
    background: $white;
    border-top: none;
    border-bottom: none;
}

.modal-header {
    background-color: $janssen-blue;
    color: $white;
    text-transform: uppercase;
}

.form-control {
    border-radius: 0px;
}

.control-label {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.list-group-item {
    border: none;
}

.panel-pathway, .modal-body {
    input,
    select {
        max-width: 300px;
    }
}

.btn-primary {
  background-color: $janssen-blue;
  border-color: $janssen-blue;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border-radius: 0px;

  &:hover, &:focus{
    background-color: $janssen-blue-light;
    border-color: $janssen-blue-light;
  }
}

.btn-cancel, .btn-secondary, .btn {
    border-radius: 0px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

// Entrytool

.display-label {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.table-row i {
    font-size: 16px; padding-top: 10px;
}

.header-row.display-label {
  font-size: 0.8em;
}

.delete-lot{
    i{
        font-size: 18px;
        visibility: visible;
    }

}

.warning-block{
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: lighten($grey, 20%);
}

.orange-link{
    color: $janssen-blue-light;
}

.pagination > li > a{
    color: $janssen-blue-light;
}

.number{
    .warning-block{
        display: none;
    }

    &.warning{
        .warning-block{
            display: block;
        }
    }
}

.mm-table{
    td, th{
        text-align: center;
    }
    td.first-column, th.first-column{
        text-align: left;
        width: 100px;
    }
    td.last-column{
        text-align: right;
        padding-right: 16px;
    }

    .no-border{
        border: none;
    }
    i{
        font-size: 12px;
    }
}

.imported-validation-error{
    background-color: #C07A7A;
}
