{% load i18n %}
<div class="modal-header">
  <!-- <button type="button" class="close" ng-click="cancel()">×</button> -->
  <h3>
    {% trans "Data Quality Completed" %}
    ({% trans "Patient" %} [[ item.episode.demographics[0].patient_id ]])
    </span>
  </h3>
</div>
<div class="modal-body" >
  <div class="row">
    <div class="col-md-12 text-center">
      <p class="lead">
        {% trans "If this patients data is as complete as it will be possible to be, mark the data quality check as completed" %}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <a href="" ng-click="save()" class="one-click-only btn btn-primary">
        {% trans "Completed" %}
      </a>
  </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-cancel" ng-click="cancel()">{% trans "Cancel" %}</button>
</div>
