{% load forms %}
{% load custom_forms %}
{% load i18n%}
{% custom_datepicker field="AdditionalCharacteristics.characteristic_date" label=_("Date")  date_after="patient_details.diag_date" date_after_message=_("Date of measurement must be after diagnosis")%}
{% number field="AdditionalCharacteristics.ecog_score" min_value="0" max_value="4"%}
{% number field="AdditionalCharacteristics.cirs_score" min_value="0" max_value="56"%}
{% number field="AdditionalCharacteristics.creatinine_clearance" unit="mL/min" %}
{% radio field="AdditionalCharacteristics.bulky_disease" label=_("Bulky disease >5cm")%}