{% load forms %}
{% load custom_forms %}
{% load i18n %}
{% custom_datepicker field="BloodCountFollowUp.followup_date" date_after="the_episode.demographics[0].date_of_birth" date_after_message=_("Scan date must be after the patient's birth date")%}

{% number field="BloodCountFollowUp.erythrocytes" %}
{% number field="BloodCountFollowUp.hemoglobin" %}
{% number field="BloodCountFollowUp.hematocrit" %}
{% number field="BloodCountFollowUp.mcv" %}
{% number field="BloodCountFollowUp.mch" %}
{% number field="BloodCountFollowUp.mchc" %}
{% number field="BloodCountFollowUp.reticulocytes" %}
{% number field="BloodCountFollowUp.leucocytes" %}
{% number field="BloodCountFollowUp.myeloblasts" %}
{% number field="BloodCountFollowUp.promyelocytes" %}
{% number field="BloodCountFollowUp.myelocytes" %}
{% number field="BloodCountFollowUp.eosinophils" %}
{% number field="BloodCountFollowUp.basophils" %}
{% number field="BloodCountFollowUp.lymphocytes" %}
{% number field="BloodCountFollowUp.monocytes" %}
{% number field="BloodCountFollowUp.plasmablasts" %}
{% number field="BloodCountFollowUp.plasmacytes" %}
{% number field="BloodCountFollowUp.platelets" %}