{% load forms %}
{% datepicker field="BloodCountFollowUp.followup_date" %}
{% input field="BloodCountFollowUp.erythrocytes" %}
{% input field="BloodCountFollowUp.hemoglobin" %}
{% input field="BloodCountFollowUp.hematocrit" %}
{% input field="BloodCountFollowUp.mcv" %}
{% input field="BloodCountFollowUp.mch" %}
{% input field="BloodCountFollowUp.mchc" %}
{% input field="BloodCountFollowUp.reticulocytes" %}
{% input field="BloodCountFollowUp.leucocytes" %}
{% input field="BloodCountFollowUp.myeloblasts" %}
{% input field="BloodCountFollowUp.promyelocytes" %}
{% input field="BloodCountFollowUp.myelocytes" %}
{% input field="BloodCountFollowUp.eosinophils" %}
{% input field="BloodCountFollowUp.basophils" %}
{% input field="BloodCountFollowUp.lymphocytes" %}
{% input field="BloodCountFollowUp.monocytes" %}
{% input field="BloodCountFollowUp.plasmablasts" %}
{% input field="BloodCountFollowUp.plasmacytes" %}
{% input field="BloodCountFollowUp.platelets" %}
{% input field="BloodCountFollowUp.hospital" %}