{% load forms %}
{% load custom_forms %}
{% load i18n %}
<div class="form-group">
  <label class="control-label col-sm-3">
    {% trans "Patient Status" %}
  </label>
  <div ng-class="{'has-error': form.$submitted && form.status.$error.required }" class="col-sm-4">
    <select required name="status" class="form-control" ng-change="editing.patient_details.lost_to_follow_up_date = null; editing.patient_details.death_cause = null; editing.patient_details.death_date = null" ng-model="editing.patient_details.status">
      <option value="" selected>---------</option>
      <option ng-repeat='i in ["Under Treatment", "Dead", "Lost to Follow-up"] track by $index'>[[ i | translate ]]</option>
    </select>
    <span ng-show="form.$submitted && form.status.$error.required" class="help-block">
      {% trans "Status is required" %}</span>
  </div>
  <div ng-show="editing.patient_details.status === 'Lost to Follow-up'" class="col-sm-4">
    {% custom_datepicker label=_("Date") field="PatientDetails.lost_to_follow_up_date" ngrequired="editing.patient_details.status === 'Lost to Follow-up'" date_after="the_episode.demographics[0].date_of_birth" date_after_message=_("Follow up date must be after the patient's birth date") %}
  </div>
</div>
<div ng-show="editing.patient_details.status === 'Dead'" class="form-group">
  <label class="control-label col-sm-3">
    {% trans "Cause of Death" %}
  </label>
  <div ng-class="{'has-error': form.$submitted && form.cause_of_death.$error.required }" class="col-sm-4">
    <select name="cause_of_death" class="form-control" ng-required="editing.patient_details.status === 'Dead'" ng-model="editing.patient_details.death_cause">
      <option value="" selected>---------</option>
      <option ng-repeat='i in ["Disease", "Complications of Disease", "Other"] track by $index'>[[ i | translate ]]</option>
    </select>
    <span ng-show="form.$submitted && form.cause_of_death.$error.required" class="help-block">
      {% trans "Cause of Death is required" %}
    </span>
  </div>
  <div class="col-sm-4">
    {% custom_datepicker label=_("Date") field="PatientDetails.death_date" ngrequired="editing.patient_details.status === 'Dead'" date_after="the_episode.demographics[0].date_of_birth" date_after_message=_("Date of death must be after the patient's birth date") %}
  </div>
</div>
{% custom_datepicker field="PatientDetails.diag_date" validator="diagnosis_date" date_after="the_episode.demographics[0].date_of_birth" date_after_message=_("Date of diagnosis must be after the patient's birth date") required=True %}


{% radio field="PatientDetails.binet_stage" %}