{% load forms %}
{% load custom_forms %}
{% load i18n %}
<div class="form-group">
  <label class="control-label col-sm-3">
    {% trans "Patient Status" %}
  </label>
  <div ng-class="{'has-error': form.$submitted && form.status.$error.required }" class="col-sm-4">
    <select required name="status" class="form-control" ng-change="editing.patient_details.lost_to_follow_up_date = null; editing.patient_details.death_cause = null; editing.patient_details.death_date = null" ng-model="editing.patient_details.status">
      <option value="" selected>---------</option>
      <option ng-repeat='i in ["Under Treatment", "Dead", "Lost to Follow-up"] track by $index'>[[ i | translate ]]</option>
    </select>
    <span ng-show="form.$submitted && form.status.$error.required" class="help-block">
      {% trans "Status is required" %}</span>
  </div>
  <div ng-show="editing.patient_details.status === 'Lost to Follow-up'" class="col-sm-4">
    {% custom_datepicker label=_("Date") field="PatientDetails.lost_to_follow_up_date" ngrequired="editing.patient_details.status === 'Lost to Follow-up'" date_after="the_episode.demographics[0].date_of_birth" date_after_message=_("Follow up date must be after the patient's birth date") %}
  </div>
</div>
<div ng-show="editing.patient_details.status === 'Dead'" class="form-group">
  <label class="control-label col-sm-3">
    {% trans "Cause of Death" %}
  </label>
  <div ng-class="{'has-error': form.$submitted && form.cause_of_death.$error.required }" class="col-sm-4">
    <select name="cause_of_death" class="form-control" ng-required="editing.patient_details.status === 'Dead'" ng-model="editing.patient_details.death_cause">
      <option value="" selected>---------</option>
      <option ng-repeat='i in ["Disease", "Complications of Disease", "Other"] track by $index'>[[ i | translate ]]</option>
    </select>
    <span ng-show="form.$submitted && form.cause_of_death.$error.required" class="help-block">
      {% trans "Cause of Death is required" %}
    </span>
  </div>
  <div class="col-sm-4">
    {% custom_datepicker label=_("Date") field="PatientDetails.death_date" ngrequired="editing.patient_details.status === 'Dead'" date_after="the_episode.demographics[0].date_of_birth" date_after_message=_("Date of death must be after the patient's birth date") %}
  </div>
</div>
{% custom_datepicker field="PatientDetails.diag_date" validator="diagnosis_date" date_after="the_episode.demographics[0].date_of_birth" date_after_message=_("Date of diagnosis must be after the patient's birth date") required=True %}
<div class="form-group" >	
  <label for="" class="control-label col-sm-3">	
    {% trans "History of SMM" %}	
  </label>	
  <div class="col-sm-3" ng-class="{'has-error': form.$submitted && form.mgus.$error.required}">	
    <label class="radio-inline" ng-repeat='item in ["Yes", "No", "Unknown"]'>	
      <input required type="radio" name="smm" value="[[ item]]" ng-change='editing.patient_details.smm_history_date = null' ng-model="editing.patient_details.smm_history"> [[ item | translate ]]	
    </label>	
    <div class="row" ng-show="form.$submitted && form.smm.$error.required" ng-class="{'has-error': form.$submitted && form.smm.$error.required}">	
      <div class="col-md-12">	
        <span class="help-block" >	
          {% trans "History of SMM is required" %}	
        </span>	
      </div>	
    </div>	
  </div>	
  <div ng-show="editing.patient_details.smm_history == 'Yes'" class="col-sm-4">	
    {% custom_datepicker label=_("Date") field="PatientDetails.smm_history_date" ngrequired="editing.patient_details.smm_history == 'Yes'" date_before="editing.patient_details.diag_date" date_before_message=_("Date must be before the date of diagnosis")  date_before_diff="0" %}	
  </div>	
</div>

{% radio field="PatientDetails.iss_stage" %}
{% radio field="PatientDetails.ds_stage" %}
{% radio field="PatientDetails.del_17p" %}
{% radio field="PatientDetails.del_13" %}
{% radio field="PatientDetails.t4_14" %}

