{% load forms %}
{% load custom_forms %}
{% select field="PatientDetails.status" change="editing.patient_details.death_cause = null; editing.patient_details.death_date = null" %}
<div ng-show="editing.patient_details.status === 'Dead'" class="form-group">
  <label class="control-label col-sm-3">
    Cause of Death
  </label>
  <div ng-class="{'has-error': form.$submitted && form.cause_of_death.$error.required }" class="col-sm-4">
    <select name="cause_of_death" class="form-control" ng-required="editing.patient_details.status === 'Dead'" ng-model="editing.patient_details.death_cause">
      <option value="" selected>---------</option>
      <option ng-repeat='i in ["Disease", "Complications of Disease", "Other"] track by $index'>[[ i ]]</option>
    </select>
    <span ng-show="form.$submitted && form.cause_of_death.$error.required" class="help-block">
      Cause of Death is required
    </span>
  </div>
  <div class="col-sm-4">
    {% custom_datepicker label="Date" field="PatientDetails.death_date" ngrequired="editing.patient_details.status === 'Dead'" date_after="the_episode.demographics[0].date_of_birth" date_after_message="Date of death must be after the patient's birth date" %}
  </div>
</div>
{% custom_datepicker field="PatientDetails.diag_date" validator="diagnosis_date" date_after="the_episode.demographics[0].date_of_birth" date_after_message="Date of diagnosis must be after the patient's birth date" required=True %}
<div class="form-group" >
  <label for="" class="control-label col-sm-3">History of SMM</label>
  <div class="col-sm-3" ng-class="{'has-error': form.$submitted && form.mgus.$error.required}">
    <label class="radio-inline" ng-repeat='item in ["Yes", "No", "Unknown"]'>
      <input required type="radio" name="smm" value="[[ item ]]" ng-change='editing.patient_details.smm_history_date = null' ng-model="editing.patient_details.smm_history"> [[ item ]]
    </label>
    <div class="row" ng-show="form.$submitted && form.smm.$error.required" ng-class="{'has-error': form.$submitted && form.mgus.$error.required}">
      <div class="col-md-12">
        <span class="help-block" >
          History of SMM is required
        </span>
      </div>
    </div>
  </div>
  <div ng-show="editing.patient_details.smm_history == 'Yes'" class="col-sm-4">
    {% custom_datepicker label="Date" field="PatientDetails.smm_history_date" ngrequired="editing.patient_details.smm_history == 'Yes'" date_before="editing.patient_details.diag_date" date_before_message="Date must be before the date of diagnosis" %}
  </div>
</div>

<div class="form-group" >
  <label for="" class="control-label col-sm-3">History of MGUS</label>
  <div class="col-sm-3" ng-class="{'has-error': form.$submitted && form.mgus.$error.required}">
    <label class="radio-inline" ng-repeat='item in ["Yes", "No", "Unknown"]'>
      <input required type="radio" name="mgus" value="[[ item ]]" ng-change='editing.patient_details.mgus_history_date = null' ng-model="editing.patient_details.mgus_history"> [[ item ]]
    </label>
    <div class="row" ng-show="form.$submitted && form.mgus.$error.required" ng-class="{'has-error': form.$submitted && form.mgus.$error.required}">
      <div class="col-md-12">
        <span class="help-block" >
          History of MGUS is required
        </span>
      </div>
    </div>
  </div>
  <div ng-show="editing.patient_details.mgus_history == 'Yes'" class="col-sm-4">
    {% custom_datepicker label="Date" field="PatientDetails.mgus_history_date" ngrequired="editing.patient_details.mgus_history == 'Yes'" date_before="editing.patient_details.diag_date"  date_before_message="Date must be before the date of diagnosis" %}
  </div>
</div>
{% radio field="PatientDetails.r_iss_stage" %}
{% select field="PatientDetails.pp_type" %}
{% radio field="PatientDetails.del_17p" %}
{% radio field="PatientDetails.t4_14" %}
{% radio field="PatientDetails.t4_16" %}

