{% load forms %}
{% datepicker field="ProteinMeasurements.protein_measurement_date" %}
{% input field="ProteinMeasurements.igg" %}
{% input field="ProteinMeasurements.iga" %}
{% input field="ProteinMeasurements.igm" %}
{% checkbox field="ProteinMeasurements.bence_jones_presence" %}
{% input field="ProteinMeasurements.bence_jones_level" %}
{% checkbox field="ProteinMeasurements.light_chain_secretion" %}
{% input field="ProteinMeasurements.serum_kappa" %}
{% input field="ProteinMeasurements.serum_free_kappa" %}
{% input field="ProteinMeasurements.serum_lambda" %}
{% input field="ProteinMeasurements.serum_free_lambda" %}
{% input field="ProteinMeasurements.urine_kappa" %}
{% input field="ProteinMeasurements.urine_free_kappa" %}
{% input field="ProteinMeasurements.urine_lambda" %}
{% input field="ProteinMeasurements.urine_free_lambda" %}
{% input field="ProteinMeasurements.flc_ratio" %}