{% load forms %}
{% datepicker field="SCT.sct_date" %}
{% input field="SCT.sct_type" %}
{% input field="SCT.negativizacion_emr" %}
{% input field="SCT.emr_technique" %}
{% input field="SCT.negativizacion_emr_date" %}
{% input field="SCT.response" %}
{% datepicker field="SCT.response_date" %}
{% input field="SCT.type_of_alotph_transplant" %}
{% input field="SCT.alotph_conditioning" %}
{% input field="SCT.alotph_emr_technique" %}
{% input field="SCT.alotph_status" %}
{% input field="SCT.alotph_source" %}
{% input field="SCT.atsp_conditioning" %}
{% input field="SCT.hospital" %}