
<span ng-show="item.followup_date">
    [[ item.followup_date | displayDate ]]
   <br />
</span>
<span ng-show="item.LDH">
    [[ item.LDH ]]
   <br />
</span>
<span ng-show="item.beta2m">
    [[ item.beta2m ]]
   <br />
</span>
<span ng-show="item.albumin">
    [[ item.albumin ]]
   <br />
</span>
<span ng-show="item.creatinin">
    [[ item.creatinin ]]
   <br />
</span>
<span ng-show="item.MCV">
    [[ item.MCV ]]
   <br />
</span>
<span ng-show="item.Hb">
    [[ item.Hb ]]
   <br />
</span>
<span ng-show="item.kappa_lambda_ratio">
    [[ item.kappa_lambda_ratio ]]
   <br />
</span>
<span ng-show="item.bone_lesions">
    [[ item.bone_lesions ]]
   <br />
</span>