<span ng-show="item.followup_date">
    [[ item.followup_date | displayDate ]]
   <br />
</span>
<span ng-show="item.hospital">
  <strong>Hospital </strong>[[ item.hospital | translate ]]
  <br />
</span>
<span ng-show="item.LDH">
    [[ item.LDH ]] L
   <br />
</span>
<span ng-show="item.beta2m">
    [[ item.beta2m ]] mg/L
   <br />
</span>
<span ng-show="item.albumin">
    [[ item.albumin ]] g/dL
   <br />
</span>
<span ng-show="item.creatinin">
    [[ item.creatinin ]] mg/dL
   <br />
</span>
<span ng-show="item.MCV">
    [[ item.MCV ]] fL
   <br />
</span>
<span ng-show="item.Hb">
    [[ item.Hb ]] g/dL
   <br />
</span>
<span ng-show="item.kappa_lambda_ratio">
    [[ item.kappa_lambda_ratio ]]
   <br />
</span>
<span ng-show="item.bone_lesions">
    [[ item.bone_lesions ]]
   <br />
</span>