<span ng-show="item.followup_date">
    [[ item.followup_date | displayDate ]]
   <br />
</span>
<span ng-show="item.hospital">
  <strong>Hospital </strong>[[ item.hospital | translate ]]
  <br />
</span>
<span ng-show="item.LDH">
    [[ item.LDH ]] L
   <br />
</span>
<span ng-show="item.beta2m">
    [[ item.beta2m ]] mg/L
   <br />
</span>
<span ng-show="item.albumin">
    [[ item.albumin ]] g/dL
   <br />
</span>
<span ng-show="item.mprotein_serum">
    [[ item.mprotein_serum ]] g/dL
   <br />
</span>
<span ng-show="item.mprotein_urine">
    [[ item.mprotein_urine ]] g/dL
   <br />
</span>