<span ng-show="item.ift_date">
    [[ item.ift_date | displayDate ]]
   <br />
</span>
<span ng-show="item.MRD_status">
    [[ item.MRD_status ]]
   <br />
</span>
<span ng-show="item.percentage_tumor_cells">
    [[ item.percentage_tumor_cells ]]
   <br />
</span>
<span ng-show="item.initial_tumor_phenotype">
    [[ item.initial_tumor_phenotype ]]
   <br />
</span>
<span ng-show="item.phenotype">
    [[ item.phenotype ]]
   <br />
</span>
<span ng-show="item.cd38_138_presence">
    [[ item.cd38_138_presence ]]
   <br />
</span>
<span ng-show="item.CD56_presence">
    [[ item.CD56_presence ]]
   <br />
</span>
<span ng-show="item.CD19_presence">
    [[ item.CD19_presence ]]
   <br />
</span>
<span ng-show="item.CD20_presence">
    [[ item.CD20_presence ]]
   <br />
</span>
<span ng-show="item.CD27_presence">
    [[ item.CD27_presence ]]
   <br />
</span>
<span ng-show="item.CD117_presence">
    [[ item.CD117_presence ]]
   <br />
</span>
<span ng-show="item.CD38СD138_percentage">
    [[ item.CD38СD138_percentage ]]
   <br />
</span>
<span ng-show="item.CD56_percentage">
    [[ item.CD56_percentage ]]
   <br />
</span>
<span ng-show="item.CD19_percentage">
    [[ item.CD19_percentage ]]
   <br />
</span>
<span ng-show="item.CD20_percentage">
    [[ item.CD20_percentage ]]
   <br />
</span>
<span ng-show="item.CD27_percentage">
    [[ item.CD27_percentage ]]
   <br />
</span>
<span ng-show="item.CD117_percentage">
    [[ item.CD117_percentage ]]
   <br />
</span>