<div class="form-group">
  <label class="control-label col-sm-3">Condition</label>
  <div class="col-md-8">
    <a ng-click="editing.episode_category='MLL Condition'" ng-class="{'btn-info': editing.episode_category ==='MLL Condition', 'btn-default': editing.episode_category!=='MLL Condition'}" class="btn btn-lg">
      MLL
    </a>
    <a ng-click="editing.episode_category='CLL Condition'" ng-class="{'btn-info': editing.episode_category ==='CLL Condition', 'btn-default': editing.episode_category!=='CLL Condition'}" class="btn btn-lg" class="btn btn-lg">
      CLL
    </a>
  </div>
</div>
