{% load i18n %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>
      {{ models.Demographics.get_display_name }}
      <i class="fa fa-pencil edit pull-right pointer"
         ng-click="patient.recordEditor.editItem('demographics', patient.demographics[0])"></i>
    </h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-7">
              <span class="display-label">{% trans "ID" %}</span>
            </div>
            <div class="col-md-5">
              [[ patient.id ]]
            </div>
          </div>
          <div ng-show="patient.demographics[0].hospital_number" class="row">
            <div class="col-md-7">
              <span class="display-label">{% trans "External Identifier" %}</span>
            </div>
            <div class="col-md-5">
              [[ patient.demographics[0].hospital_number]]
            </div>
          </div>
          <div ng-show="patient.demographics[0].date_of_birth" class="row">
            <div class="col-md-7">
              <span class="display-label">{% trans "Birth Date" %}</span>
            </div>
            <div class="col-md-5">
              [[ patient.demographics[0].date_of_birth | displayDate ]]
            </div>
          </div>
          <div ng-show="patient.demographics[0].sex" class="row">
            <div class="col-md-7">
              <span class="display-label">{% trans "Sex" %}</span>
            </div>
            <div class="col-md-5">
              [[ patient.demographics[0].sex | translate ]]
            </div>
          </div>
          <div ng-show="patient.demographics[0].comments && patient.demographics[0].comments.length" class="row">
            <div class="col-md-7">
              <span class="display-label">{% trans "Comments" %}</span>
            </div>
            <div class="col-md-5">
              [[ patient.demographics[0].comments ]]
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  {% block footer %}{% endblock %}
</div>
