{% load i18n %}
'use strict';
angular.module("ngLocale", [], ["$provide", function($provide) {
var PLURAL_CATEGORY = {ZERO: "{% trans "zero" %}", ONE: "{% trans "one" %}", TWO: "{% trans "two" %}", FEW: "{% trans "few" %}", MANY: "{% trans "many" %}", OTHER: "{% trans "other" %}"};
function getDecimals(n) {
  n = n + '';
  var i = n.indexOf('.');
  return (i == -1) ? 0 : n.length - i - 1;
}

function getVF(n, opt_precision) {
  var v = opt_precision;

  if (undefined === v) {
    v = Math.min(getDecimals(n), 3);
  }

  var base = Math.pow(10, v);
  var f = ((n * base) | 0) % base;
  return {v: v, f: f};
}

$provide.value("$locale", {
  "DATETIME_FORMATS": {
    "AMPMS": [
      "{% trans "AM" %}",
      "{% trans "PM" %}"
    ],
    "DAY": [
      "{% trans "Sunday" %}",
      "{% trans "Monday" %}",
      "{% trans "Tuesday" %}",
      "{% trans "Wednesday" %}",
      "{% trans "Thursday" %}",
      "{% trans "Friday" %}",
      "{% trans "Saturday" %}"
    ],
    "ERANAMES": [
      "{% trans "Before Christ" %}",
      "{% trans "Anno Domini" %}"
    ],
    "ERAS": [
      "{% trans "BC" %}",
      "{% trans "AD" %}"
    ],
    "FIRSTDAYOFWEEK": 0,
    "MONTH": [
      "{% trans "January" %}",
      "{% trans "February" %}",
      "{% trans "March" %}",
      "{% trans "April" %}",
      "{% trans "May" %}",
      "{% trans "June" %}",
      "{% trans "July" %}",
      "{% trans "August" %}",
      "{% trans "September" %}",
      "{% trans "October" %}",
      "{% trans "November" %}",
      "{% trans "December" %}"
    ],
    "SHORTDAY": [
      "{% trans "Sun" %}",
      "{% trans "Mon" %}",
      "{% trans "Tue" %}",
      "{% trans "Wed" %}",
      "{% trans "Thu" %}",
      "{% trans "Fri" %}",
      "{% trans "Sat" %}"
    ],
    "SHORTMONTH": [
      "{% trans "Jan" %}",
      "{% trans "Feb" %}",
      "{% trans "Mar" %}",
      "{% trans "Apr" %}",
      "{% trans "May" %}",
      "{% trans "Jun" %}",
      "{% trans "Jul" %}",
      "{% trans "Aug" %}",
      "{% trans "Sep" %}",
      "{% trans "Oct" %}",
      "{% trans "Nov" %}",
      "{% trans "Dec" %}"
    ],
    "STANDALONEMONTH": [
      "{% trans "January" %}",
      "{% trans "February" %}",
      "{% trans "March" %}",
      "{% trans "April" %}",
      "{% trans "May" %}",
      "{% trans "June" %}",
      "{% trans "July" %}",
      "{% trans "August" %}",
      "{% trans "September" %}",
      "{% trans "October" %}",
      "{% trans "November" %}",
      "{% trans "December" %}"
    ],
    "WEEKENDRANGE": [
      5,
      6
    ],
    "fullDate": "EEEE, d MMMM y '\u0440'.",
    "longDate": "d MMMM y '\u0440'.",
    "medium": "d MMM y '\u0440'. HH:mm:ss",
    "mediumDate": "d MMM y '\u0440'.",
    "mediumTime": "HH:mm:ss",
    "short": "dd.MM.yy HH:mm",
    "shortDate": "dd.MM.yy",
    "shortTime": "HH:mm"
  },
  "NUMBER_FORMATS": {
    "CURRENCY_SYM": "\u0433\u0440\u043d.",
    "DECIMAL_SEP": ",",
    "GROUP_SEP": "\u00a0",
    "PATTERNS": [
      {
        "gSize": 3,
        "lgSize": 3,
        "maxFrac": 3,
        "minFrac": 0,
        "minInt": 1,
        "negPre": "-",
        "negSuf": "",
        "posPre": "",
        "posSuf": ""
      },
      {
        "gSize": 3,
        "lgSize": 3,
        "maxFrac": 2,
        "minFrac": 2,
        "minInt": 1,
        "negPre": "-",
        "negSuf": "\u00a0\u00a4",
        "posPre": "",
        "posSuf": "\u00a0\u00a4"
      }
    ]
  },
  "id": "{{ locale_dash }}",
  "localeID": "{{ local_underscore }}",
  "pluralCat": function(n, opt_precision) {  var i = n | 0;  var vf = getVF(n, opt_precision);  if (vf.v == 0 && i % 10 == 1 && i % 100 != 11) {    return PLURAL_CATEGORY.ONE;  }  if (vf.v == 0 && i % 10 >= 2 && i % 10 <= 4 && (i % 100 < 12 || i % 100 > 14)) {    return PLURAL_CATEGORY.FEW;  }  if (vf.v == 0 && i % 10 == 0 || vf.v == 0 && i % 10 >= 5 && i % 10 <= 9 || vf.v == 0 && i % 100 >= 11 && i % 100 <= 14) {    return PLURAL_CATEGORY.MANY;  }  return PLURAL_CATEGORY.OTHER;}
});
}]);