{% load honeur_panels %} {% load forms %} {% load i18n %}
<div ng-show="patient == null" class="container-fluid content-offset">
  <h1 class="text-center content-offset">{% trans "Patient not found" %}</h1>
  <p class="lead text-center content-offset">
    {% trans "We're sorry but we couldn't find the patient you're looking for." %}
    <br />
    {% trans "Perhaps try searching for them instead?" %}
  </p>
</div>
<div ng-controller="PatientValidator"></div>
<div ng-controller="HoneurPatientDetailCtrl as honeurPatientDetailCtrl">
  <div ng-repeat="episode in patient.episodes">
    {% for episode_category in episode_categories %}
    {% if episode_category.detail_template and not episode_category.display_name == 'Inpatient' %}
    <div ng-show='episode.category_name === "{{ episode_category.display_name }}"' class="entry-tool container-fluid content-offset">
      <div class=" panel panel-primary panel-container patient-detail">
        <!-- Default panel contents -->
        <div class="panel-heading patient-detail-heading">
          <h2>
            {% trans "Patient" %} [[ patient.id ]] ([[ episode.category_name ]])
            <a ng-show="honeurPatientDetailCtrl.showDataQualityReviewed()" ng-click="honeurPatientDetailCtrl.openDataQualityReviewedModal()" class="btn btn-primary content-offset-left-10 pull-right">{% trans "Data Quality Reviewed" %}</a>
            <div class="text-muted pull-right" ng-show="!honeurPatientDetailCtrl.showDataQualityReviewed()" >
              <small style="font-size: 14px; text-transform: none;">
                {% trans "Validation errors reviewed" %} <span ng-show="patient.episodes[0].patient_load[0].data_quality_reviewed_date">[[ patient.episodes[0].patient_load[0].data_quality_reviewed_date | displayDate ]]</span>
              </small>
            </div>
          </h2>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 padding0">
              {% include episode_category.detail_template %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
<!-- Container -->
