<div class="form-group">
  <label class="control-label col-sm-3">Regimen Start </label>
  <div
    class="col-sm-8"
    ng-class="{'has-error': form.$submitted && form.regimen_start.$invalid}"
  >
    <input
      type="text"
      class="form-control"
      uib-datepicker-popup="dd/MM/yyyy"
      ng-model="editing.regimen.start_date"
      is-open="form.regimen_start_open"
      show-button-bar="false"
      show-weeks="false"
      name="regimen_start"
      datepicker-options="{startingDay: 1}"
      ng-focus="form.regimen_start_open=true"
      close-text="Close"
      required
      regimen-start
      date-after="patient.patient_details[0].diag_date"
      date-before="editing.regimen.end_date"
      date-before-diff="0"
    />
    <span
      class="help-block"
      ng-show="form.$submitted && form.regimen_start.$error.required"
    >
      Start Date is required
    </span>
    <span
      class="help-block"
      ng-show="form.$submitted && form.regimen_start.$error.dateAfter"
    >
      Start Date must be after the patient date of diagnosis
    </span>
    <span
      class="help-block"
      ng-show="form.$submitted && form.regimen_start.$error.dateBefore"
    >
      Start Date must be before the end date
    </span>
    <span
      class="help-block"
      ng-show="form.$submitted && form.regimen_start.$error.regimenDateBetween"
    >
      The regimen cannot overlap with another regimen
    </span>
    <span
      class="help-block"
      ng-show="form.$submitted && form.regimen_start.$error.regimenSurrounds"
    >
      The regimen ccannot overlap with another regimen
    </span>
  </div>
</div>
