{% load i18n %}
<div class="follow-up-table" ng-show="episode.follow_up.length > 0">
<span ng-repeat="item in episode.follow_up | orderBy: '-follow_up_date' as follow_ups"></span>
  <div class="col-md-12">
    <div class="row header-row display-label">
      <div class="col-sm-3 header"></div>
      <div ng-show="$index < episode.follow_up.length" class="col-sm-1 header" ng-repeat="not_used in [].constructor(8) track by $index">
        <span ng-show="$index < episode.follow_up.length">
          [[ follow_ups[$index].hospital | translate ]]
          <br />
          [[ follow_ups[$index].follow_up_date | displayDate ]]
          <br>
          <i style="font-size: 14px;" ng-click="episode.recordEditor.editItem('{{ models.FollowUp.get_api_name }}', follow_ups[$index])" class="fa fa-pencil edit pointer"></i>
        </span>
      </div>
    </div>
    <div class="row table-row" >
      <div class="col-sm-3 first-column text-right">{% trans "LDH" %}</div>
      <div class="col-sm-1 column" ng-repeat="not_used in [].constructor(8) track by $index">
        [[ follow_ups[$index].LDH ]]
      </div>
    </div>
    <div class="row table-row" >
      <div class="col-sm-3 first-column text-right">{% trans "Beta2m" %}</div>
      <div class="col-sm-1 column" ng-repeat="not_used in [].constructor(8) track by $index">
        [[ follow_ups[$index].beta2m ]]
      </div>
    </div>
    <div class="row table-row" >
      <div class="col-sm-3 first-column text-right">{% trans "Albumin" %}</div>
      <div class="col-sm-1 column" ng-repeat="not_used in [].constructor(8) track by $index">
        [[ follow_ups[$index].albumin ]]
      </div>
    </div>
    <div class="row table-row" >
      <div class="col-sm-3 first-column text-right">{% trans "Creatinin" %}</div>
      <div class="col-sm-1 column" ng-repeat="not_used in [].constructor(8) track by $index">
        [[ follow_ups[$index].creatinin ]]
      </div>
    </div>
    <div class="row table-row" >
      <div class="col-sm-3 first-column text-right">{% trans "MCV" %}</div>
      <div class="col-sm-1 column" ng-repeat="not_used in [].constructor(8) track by $index">
        [[ follow_ups[$index].MCV ]]
      </div>
    </div>
    <div class="row table-row" >
      <div class="col-sm-3 first-column text-right">{% trans "Hb" %}</div>
      <div class="col-sm-1 column" ng-repeat="not_used in [].constructor(8) track by $index">
        [[ follow_ups[$index].Hb ]]
      </div>
    </div>
    <div class="row table-row" >
      <div class="col-sm-3 first-column text-right">&#922;/&#923; Ratio</div>
      <div class="col-sm-1 column" ng-repeat="not_used in [].constructor(8) track by $index">
        [[ follow_ups[$index].kappa_lambda_ratio ]]
      </div>
    </div>
    <div class="row table-row" >
      <div class="col-sm-3 first-column text-right">{% trans "Bone Lesions" %}</div>
      <div class="col-sm-1 column" ng-repeat="not_used in [].constructor(8) track by $index">
        [[ follow_ups[$index].bone_lesions ]]
      </div>
    </div>
  </div>
</div>