{% load i18n %}
<div class="follow-up-table" ng-show="episode.blood_count_follow_up.length > 0">
  <div class="col-md-12">
    <div class="row header-row display-label">
      
      <div class="col-sm-3 header"></div>
      <div class="col-sm-1 header">{% trans "mcv" %}<br/>(u/L)</div>
      <div class="col-sm-1 header">{% trans "mch" %}<br/>(mg/dL)</div>
      <div class="col-sm-1 header">{% trans "mchc" %}<br/>(g/dL)</div>
    </div>
  </div>


  <div ng-repeat="item in episode.blood_count_follow_up | orderBy: '-followup_date' as followups">
    <div
      ng-show="$index === 0 || followups[$index-1].hospital !== item.hospital"
      class="row"
      >

    </div>
    <div class="row table-row" >
      <div class="col-sm-3 first-column text-right">
        [[ item.hospital | translate ]] [[ item.followup_date | displayDate ]]
      </div>
      <div class="col-sm-1 column">[[ item.mcv ]]</div>
      <div class="col-sm-1 column">[[ item.mch ]]</div>
      <div class="col-sm-1 column">[[ item.mchc ]]</div>
     
      <div class="col-sm-1 text-left">
        <i ng-click="episode.recordEditor.editItem('{{ models.BloodCountFollowUp.get_api_name }}', item)" class="fa fa-pencil edit pointer"></i>
      </div>
    </div>
  </div>
</div>
