{% load i18n %}
<div class="follow-up-table" ng-show="episode.mll_follow_up.length > 0">
  <div class="col-md-12">
    <div class="row header-row display-label">
      <div class="col-sm-3 header"></div>
      <div class="col-sm-1 header">{% trans "LDH" %}<br/>(u/L)</div>
      <div class="col-sm-1 header">{% trans "Beta2m" %}<br/>(mg/dL)</div>
      <div class="col-sm-1 header">{% trans "Albumin" %}<br/>(g/dL)</div>
      <div class="col-sm-1 header">{% trans "M Protein Serum" %}<br/>(mg/dL)</div>
      <div class="col-sm-1 header">{% trans "M Protein Urine" %}<br/>(mg/dL)</div>
      <div class="col-sm-1 header">{% trans "M Protein in 24 hour Urine" %}<br/>(mg/24h)</div>
    </div>
  </div>


  <div ng-repeat="item in episode.mll_follow_up | orderBy: '-mll_follow_up_date' as followups">
    <div
      ng-show="$index === 0 || followups[$index-1].hospital !== item.hospital"
      class="row"
      >

    </div>
    <div class="row table-row" >
      <div class="col-sm-3 first-column text-right">
        [[ item.hospital | translate ]] [[ item.mll_follow_up_date | displayDate ]]
      </div>
      <div class="col-sm-1 column">[[ item.LDH ]]</div>
      <div class="col-sm-1 column">[[ item.beta2m ]]</div>
      <div class="col-sm-1 column">[[ item.albumin ]]</div>
      <div class="col-sm-1 column">[[ item.mprotein_serum ]]</div>
      <div class="col-sm-1 column">[[ item.mprotein_urine ]]</div>
      <div class="col-sm-1 column">[[ item.mprotein_24h ]]</div>
      <div class="col-sm-1 text-left">
        <i ng-click="episode.recordEditor.editItem('{{ models.MLLFollowUp.get_api_name }}', item)" class="fa fa-pencil edit pointer"></i>
      </div>
    </div>
  </div>
</div>
