{% load honeur_panels %}
<div class="row">
  <div class="col-md-1 text-center">
    <h2 class="pt6 delete-lot">
      [[ lot_episodes.length - $index ]]
      <i class="fa fa-trash-o delete-lot pointer" ng-click="lineOfTreatmentManager.delete(episode)"></i>
    </h2>
  </div>
  <div class="col-md-2">
    {% record_panel models.Regimen %}
  </div>
  <div class="col-md-2">
    {% record_panel models.Response %}
  </div>
  <div class="col-md-2">
    {% record_panel models.SCT %}
  </div>
  <div class="col-md-2">
    {% record_panel models.Progression %}
  </div
</div>
