<div class="form-group"
     {% if visibility %} {{ visibility|safe }} {% endif %}
     >
  <label
    class="control-label {% ifequal style "horizontal" %}col-sm-3{% endifequal %}">
    {{ label }}
  </label>
  <div
    {% ifequal style "horizontal" %}
    class="col-sm-8"
    {% endifequal %}
    ng-class="{'has-error': {{ formname }}.$submitted && {{ formname }}[{{ element_name }}].$invalid}"
    >
    {% if user_options %}
      <div class="input-group">
    {% endif %}
        <input type="text" class="form-control"
               uib-datepicker-popup="dd/MM/yyyy"
               ng-model="{{ model }}"
               is-open="{{ formname }}[{{ element_name }} + '_open']"
               min-date="{{ mindate}}"
               max-date="maxDate"
               show-button-bar="false"
               show-weeks="false"
               name="[[ {{ element_name}} ]]"
               datepicker-options="{startingDay: 1}"
               ng-focus="{{ formname }}[{{ element_name }} + '_open']=true"
               close-text="Close"
               {% if change %}
               ng-change="{{ change }}"
               {% endif %}
               ng-required="{{ ngrequired }}"
               {% if date_after %}
               date-after="{{ date_after }}"
               {% endif %}
               {% if date_after_diff %}
               date-after-diff="{{ date_after_diff }}"
               {% endif %}
               {% if date_before %}
               date-before="{{ date_before }}"
               {% endif %}
               {% if date_before_diff %}
               date-before-diff="{{ date_before_diff }}"
               {% endif %}
               />
     {% if user_options %}
         <span class="input-group-btn">
           <button type="button" class="btn btn-default" ng-click="{{ model }} = dateHelper.now()" href="">Today</a>
           <button type="button" class="btn btn-default" ng-click="{{ model }} = dateHelper.yesterday()" href="">Yesterday</a>
         </span>
       </div>
     {% endif %}
     <span class="help-block" ng-show="{{ formname }}.$submitted && {{ formname }}[{{ element_name }}].$error.required">
       {{ label }} is required
     </span>
     {% if date_after_message %}
     <span class="help-block" ng-show="{{ formname }}.$submitted && {{ formname }}[{{ element_name }}].$error.dateAfter">
      {{ date_after_message }}
     </span>
     {% endif %}
     {% if date_before_message %}
     <span class="help-block" ng-show="{{ formname }}.$submitted && {{ formname }}[{{ element_name }}].$error.dateBefore">
      {{ date_before_message }}
     </span>
     {% endif %}
  </div>
</div>
