{% load i18n %}
<div class="form-group"
     {% if visibility %} {{ visibility|safe }} {% endif %}
     >
  <label
    class="control-label {% ifequal style "horizontal" %}col-sm-3{% endifequal %}">
    {{ label }}
  </label>
  <div
    {% ifequal style "horizontal" %}
    class="col-sm-8"
    {% endifequal %}
    ng-class="{'has-error': $root.patientValidator.showErrors('{{ field_name }}')}">
    {% if user_options %}
      <div class="input-group">
    {% endif %}
        <input type="text" class="form-control"
               uib-datepicker-popup="dd/MM/yyyy"
               ng-model="{{ model }}"
               is-open="{{ formname }}[{{ element_name }} + '_open']"
               min-date="{{ mindate}}"
               max-date="maxDate"
               show-button-bar="false"
               show-weeks="false"
               name="[[ {{ element_name}} ]]"
               datepicker-options="{startingDay: 1}"
               ng-focus="{{ formname }}[{{ element_name }} + '_open']=true"
               close-text="Close"
               ng-change="$root.patientValidator.validatesubrecord('{{ model_api_name }}', {{ subrecord }}, the_episode)"
               />
     {% if user_options %}
         <span class="input-group-btn">
           <button type="button" class="btn btn-default" ng-click="{{ model }} = dateHelper.now()" href="">Today</a>
           <button type="button" class="btn btn-default" ng-click="{{ model }} = dateHelper.yesterday()" href="">Yesterday</a>
         </span>
       </div>
     {% endif %}


     <span
     class="warning-block" ng-show="$root.patientValidator.showWarnings('{{ field_name }}') && !$root.patientValidator.showErrors('{{ field_name }}')"
   >
     <div ng-repeat="warning in $root.patientValidator.warnings['{{ field_name }}'] track by $index">
        [[ warning ]]
     </div>
   </span>
   <span
   class="help-block" ng-show="$root.patientValidator.showErrors('{{ field_name }}')"
   >
    <div ng-repeat="error in $root.patientValidator.errors['{{ field_name }}'] track by $index">
      [[ error ]]
    </div>
   </span>
  </div>
</div>
