{% load i18n %}
<div class="form-group"
     {% if visibility %} {{ visibility|safe }} {% endif %}
     >
  <label
    {% ifequal style "horizontal" %}
    class="control-label col-sm-3"
    {% endifequal %}
    >
    {% if icon %}<i class="{{icon}}"></i> {% endif %}
    {{ label }}
  </label>
  <div
       {% ifequal style "horizontal" %}
       class="col-sm-{% if unit %}2{% else %}8{% endif %}"
       {% endifequal %}
       ng-class="{'has-error': $root.patientValidator.showErrors('{{ field_name }}', {{ formname }})}"
       >

	<input class="form-control" type="{{ element_type }}" ng-model="{{ model }}"
           autocomplete="off"
           {% for d in directives %}{{ d }} {% endfor %}
           {% if lookuplist %}
           uib-typeahead="i for i in {{ lookuplist }} | filter:$viewValue | limitTo:8"
           {% endif %}
           name="[[ {{ element_name }} ]]"
           ng-change="$root.patientValidator.validatesubrecord('{{ model_api_name }}', {{ subrecord }}, the_episode, {{ formname }})"
           />

    <span
    class="warning-block" ng-show="$root.patientValidator.showWarnings('{{ field_name }}')"
  >
    <div ng-repeat="warning in $root.patientValidator.warnings['{{ field_name }}'] track by $index">
      [[ warning ]]
    </div>
  </span>
  <span
  class="help-block" ng-show="$root.patientValidator.showErrors('{{ field_name }}', {{ formname }})"
  >
  <div ng-repeat="error in $root.patientValidator.errors['{{ field_name }}'] track by $index">
    [[ error ]]
  </div>
  </span>
  </div>
  {% if unit %}
  <label class="control-label"><small>({{ unit }})</small></label>
  {% endif %}
   {% if help_text %}
      <p class="help-block">{% trans help_text %}
      </p>
    {% endif %}
</div>
