{% load i18n %}
<div class="form-group">
  <label
    class="control-label col-sm-3"
    >
    {% if icon %}<i class="{{icon}}"></i> {% endif %}
    {{ label }}
  </label>
  <div
       class="col-sm-2"
       ng-class="{'has-error': {{ formname }}.$submitted && {{ formname }}[{{ element_name }}].$invalid}""
       >

	<input class="form-control" type="number" ng-model="{{ model }}"
           autocomplete="off"
           {% for d in directives %}{{ d }} {% endfor %}
           {% if lookuplist %}
           uib-typeahead="i for i in {{ lookuplist }} | filter:$viewValue | limitTo:8"
           {% endif %}
           name="[[ {{ element_name }} ]]"
           {% if required %}
           required
           {% endif %}
           {% if change %}
           ng-change="{{ change }}"
           {% endif %}
           {% if data %}
           {% for key, val in data %}
           data-{{key}}="{{ val }}"
           {% endfor %}
           {% endif %}
           {% if enter %}
           ng-keypress="$event.keyCode == 13 && {{ enter }}"
           {% endif %}
           {% if maxlength %}
           ng-maxlength="{{ maxlength }}"
           {% endif %}
           {% if disabled %}
           ng-disabled="{{ disabled}}"
           {% endif %}
           {% if min_value %}
           ng-min="[[ {{ min_value }}]]"
           {% endif %}
           {% if max_value %}
           ng-max="[[ {{ max_value }}]]"
           {% endif %}

           />
    {% if required %}
      <span class="help-block" ng-show="({{ formname }}[{{ element_name }}].$dirty || {{ formname }}.$submitted) && {{ formname }}[{{ element_name }}].$error.required">
        {% blocktrans with label=label %}{{ label }} is required{% endblocktrans %}
      </span>
    {% endif %}
    {% if min_value %}
      <span class="help-block" ng-show="{{ formname }}.$submitted && {{ formname }}[{{ element_name }}].$error.min">
        {% blocktrans with label=label %}{{ label }} is too low{% endblocktrans %}
      </span>
    {% endif %}
    {% if max_value %}
      <span class="help-block" ng-show="{{ formname }}.$submitted && {{ formname }}[{{ element_name }}].$error.max">
        {% blocktrans with label=label %}{{ label }} is too high{% endblocktrans %}
      </span>
    {% endif %}
  </div>
  {% if unit %}
  <label class="control-label"><small>({{ unit }})</small></label>
  {% endif %}
</div>
