{% load i18n %}
<div ng-class="{warning: $root.patientValidator.warnings['{{ field_name }}'].length}" class="form-group number">
  <label
    class="control-label col-sm-3"
    >
    {% if icon %}<i class="{{icon}}"></i> {% endif %}
    {{ label }}
  </label>
  <div
       class="col-sm-2"
       ng-class="{'has-error': $root.patientValidator.showErrors('{{ field_name }}')}"
       >

	<input class="form-control" type="number" ng-model="{{ model }}"
           autocomplete="off"
           {% for d in directives %}{{ d }} {% endfor %}
           {% if lookuplist %}
           uib-typeahead="i for i in {{ lookuplist }} | filter:$viewValue | limitTo:8"
           {% endif %}
           name="[[ {{ element_name }} ]]"
           ng-change="$root.patientValidator.validatesubrecord('{{ model_api_name }}', {{ subrecord }}, the_episode)"
           />
    <span
    class="warning-block" ng-show="!$root.patientValidator.showErrors('{{ field_name }}') && $root.patientValidator.showWarnings('{{ field_name }}')"
  >
    <div ng-repeat="warning in $root.patientValidator.warnings['{{ field_name }}'] track by $index">
       [[ warning ]]
    </div>
  </span>
  <span
  class="help-block" ng-show="$root.patientValidator.showErrors('{{ field_name }}')"
  >
   <div ng-repeat="error in $root.patientValidator.errors['{{ field_name }}'] track by $index">
     [[ error ]]
   </div>
  </span>
  </div>
  {% if unit %}
  <label class="control-label"><small>({{ unit }})</small></label>
  {% endif %}
   {% if help_text %}
      <p class="help-block">{% trans help_text %}
      </p>
    {% endif %}
</div>
