{% load i18n %}
<div class="form-group"
     {% if visibility %} {{ visibility|safe }} {% endif %}
     >
  <label class="control-label {% ifequal style "horizontal" %}col-sm-3{% endifequal %}">{{ label }}</label>
  <div class="{% ifequal style "horizontal" %}col-sm-8{% endifequal %}"
    ng-class="{'has-error': $root.patientValidator.showErrors('{{ field_name }}', {{ formname }})}"
  >
    <div class="row" >
      <div class="col-md-12">
      <label class="radio-inline" ng-repeat="item in {{ lookuplist }}">
        <input ng-change="$root.patientValidator.validate('{{ model_api_name }}', '{{ field_name }}', {{ model }}, {{ subrecord }}, the_episode)" class="" type="radio" name="[[ {{ element_name }} ]]" value="[[ item ]]" ng-model="{{ model }}">
        [[ item | translate ]]
      </label>
      </div>
    </div>
    <span
    class="warning-block" ng-show="$root.patientValidator.showWarnings('{{ field_name }}')"
  >
    <div ng-repeat="warning in $root.patientValidator.warnings['{{ field_name }}'] track by $index">
       [[ warning ]]
    </div>
  </span>
  <span
  class="help-block" ng-show="$root.patientValidator.showErrors('{{ field_name }}', {{ formname }})"
  >
   <div ng-repeat="error in $root.patientValidator.errors['{{ field_name }}'] track by $index">
     [[ error ]]
   </div>
  </span>
    {% if help_text %}
      <p class="help-block">{% trans help_text %}
      </p>
    {% endif %}
  </div>
</div>
