{% load forms %}
<div class="form-group" {% if visibility %} {{ visibility|safe }} {% endif %} >
  <span ng-class="{ 'errored-state': {{ formname }}[{{ element_name }}].$dirty && !{{ formname }}[{{ element_name }}].$valid }">
    {% if label %}
    <label class="control-label {% ifequal style "horizontal" %}col-sm-3{% endifequal %}">
      {{ label }}
    </label>
    {% endif %}
    <div class="{% ifequal style "horizontal" %}col-sm-8{% endifequal %}"
         ng-class='{"has-error": {{ formname }}.$submitted && {{ formname }}[{{ element_name }}].$error.required}'>
      <select {% if autofocus %}autofocus {% endif %}name="[[ {{ element_name }} ]]" {% if required %}required{% endif %} class="form-control" ng-model="{{ model }}" {% if change %} ng-change="{{ change }}" {% endif %} {% if disabled %}ng-disabled="{{ disabled }}" {% endif %} {% for d in directives %}{{ d }} {% endfor %}>
        {% if default_null %}
        <option value="" selected>---------</option>
        {% endif %}
        <option value="[[ i ]]" ng-repeat="i in {{ lookuplist }} track by $index">[[ i | translate ]]</option>
      </select>
    {% if required %}
      <span ng-show="{{ formname }}.$submitted && {{ formname }}[{{ element_name }}].$error.required" class="help-block">
        {{ label }} is required
      </span>
      {% endif %}
    </div>
  </span>
</div>
